<h1>Add a New Recipe</h1>
<form action="/recipes" method="post">
    <label>Name <input type="text" id="name" name="name" /></label><br />
    <label>Ingredients <input type="text" id="ingredients" name="ingredients" /></label><br />
    <label>Cook Time <input type="text" id="cook_time" name="cook_time" /></label><br />
    <button type="submit" id="submit">Submit</button>
</form>