<form action="/recipes" method="POST">
  <input type="text" name="name" default="Recipe Name:">
  <input type="text" name="ingredients" default="Recipe Ingredients:">
  <input type="text" name="cook_time" default="Recipe Cook Time:">
  <input type="submit" name="submit" value="submit">
</form>