<h1><%=@recipe.name%></h1>
<h2>Cook Time: <%=@recipe.cook_time%></h2>
<p>Ingredients: <%=@recipe.ingredients%></p>
<br>
<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form> 